doctype html
html
  head
    title=service.name
    style.
      body {
        margin: 0;
        font-size: 16px;
        background: #f1f1f1;
        font-weight: 400;
        font-family: "varela_roundregular", sans-serif;
        color: #34302d;
      }
      .head {
        padding: 0 100px;
        height: 80px;
        background: #000;
      }
      .head__name {
        color: #fff;
        font-size: 36px;
        line-height: 80px;
        letter-spacing: 4px;
      }

      .content {
        padding: 20px 40px;
        font-size: 1rem;
      }
  body
    div.head
      div.head__name=service.normalName
    div.content
      No Content.